.form {
  width: 260px;
  label {
    margin-bottom: 5px;
  }
  span {
    display: inline-block;
    width: 50px;
  }
}
input {
  background: none;
}
select {
  background: none;
}
option {
  background: none;
}
button {
  background: none;
}